sudo: false
language: python
os: linux
dist: trusty
env:
  global:
    - DOWNLOAD_DIR=${HOME}/download
    - STABLE=7.0.8
    - EXPERIMENTAL=7.5a6
    - TBB_ARCHIVE_URL=https://archive.torproject.org/tor-package-archive/torbrowser
  matrix:
    - TRAVIS_EXTRA_JOB_WORKAROUND=true
cache:
  directories:
  - ${DOWNLOAD_DIR}
matrix:
  include:
    - python: "2.7"
      env: VERSION_ARCH="${EXPERIMENTAL}/tor-browser-linux64-${EXPERIMENTAL}_en-US.tar.xz"
    - python: "2.7"
      env: VERSION_ARCH="${EXPERIMENTAL}/tor-browser-linux64-${EXPERIMENTAL}_zh-CN.tar.xz"
    - python: "2.7"
      env: VERSION_ARCH="${EXPERIMENTAL}/tor-browser-linux64-${EXPERIMENTAL}_ar.tar.xz"
    - python: "2.7"
      env: VERSION_ARCH="${STABLE}/tor-browser-linux64-${STABLE}_en-US.tar.xz"
    - python: "2.7"
      env: VERSION_ARCH="${STABLE}/tor-browser-linux64-${STABLE}_zh-CN.tar.xz"
    - python: "2.7"
      env: VERSION_ARCH="${STABLE}/tor-browser-linux64-${STABLE}_ar.tar.xz"
    - python: "3.6"
      env: VERSION_ARCH="${STABLE}/tor-browser-linux64-${STABLE}_en-US.tar.xz"
  exclude:
    - env: TRAVIS_EXTRA_JOB_WORKAROUND=true
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sudo apt-get -qq update
  - sudo apt-get install -y tor
install:
  - pip install -r requirements-travis.txt
  - easy_install .
  - TARBALL=`echo ${VERSION_ARCH} |cut -d'/' -f 2`
  - . ./travis.sh
  - locale="_"`echo $TARBALL |cut -d'_' -f 2 | cut -d'.' -f 1`
  - export TBB_PATH=${HOME}/tor-browser${locale}

before_script:
  - cd tbselenium
script: py.test -s -v --rerun 3 --cov=tbselenium --cov-report term-missing --durations=10 test
